<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <%- include('../layouts/navbar') -%>
<body>
    
    <%- include('../layouts/footer') -%>
    <%- include('../layouts/scripts')  -%>
</body>
</html>