<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          style="min-width: 125px;"
        />
        <span class="input-group-text border-0 text-black d-none d-lg-flex"
          ><i class="fas fa-search"></i
        ></span>
      </form>
    </div>
    <!-- Left elements -->
    <!-- Right elements -->
    <% if(loggedIn) { %>
    <ul class="navbar-nav flex-row">
      
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="/job/new-job">
          <span><i class="fas fa-pen"></i></span>
          New Job
        </a>
      </li>
      <li class="nav-item dropdown mx-2 me-lg-1">
        <a
          class="nav-link dropdown-toggle hidden-arrow d-sm-flex align-items-sm-center"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/img/user.jpg"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="d-none d-sm-block ms-1"><%=loggedName %></strong>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="/user/home">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="/user/edit-profile">Setting accounts</a>
          </li>
          <li>
            <a class="dropdown-item" href="/job/managers">Managers Jobs</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="/auth/sign-out">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <% } %>
    <% if(!loggedIn) { %>
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="me-3 btn btn-dark rounded-pill" 
          href="/auth/sign-in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="me-3 btn rounded-pill" style="background-color: #3bc4a1; color:white" 
          href="/auth/sign-up">Free Instant Account</a>
        </li>
      </ul>
    <% } %> 
  </div>
</nav>