<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/header') -%>
    <style>
      .container-fluid
      {
        margin: auto;
        padding: auto;
        background: url('/img/main.svg') no-repeat center center/cover;
      }
      .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .alert
      {
        position: absolute;
        top: 0; 
      }
      .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before
      {
      background-color:#ff8333!important;
      border:0;
      width:15px;
      height:15px;
      }
      .forget-link,.login-link,.register-link
      {
      color:#000;
      font-weight:500;
      }
      .login-or {
      position: relative;
      color: #aaa;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      }
      .span-or {
      display: block;
      position: absolute;
      left: 50%;
      top: -2px;
      margin-left: -25px;
      background: #fff;
      width: 50px;
      text-align: center;
      }
      .hr-or {
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      }
      .infinity-social-btn ul
      {
      padding-left: 0;
      display : flex;
      flex-direction: row;
      justify-content: space-around;
      }
      .infinity-social-btn ul li
      {
      position:relative;
      list-style:none;
      width:50px;
      height:50px;
      top: 5px;
      background: #fff;
      border:4px solid transparent;
      box-sizing:border-box;
      border-radius:50%;
      transition:.5s;
      overflow:hidden;
      margin-bottom:10px;
      }
      .infinity-social-btn ul li .facebook .fab
      {
      color:#3b5999;
      }
      .infinity-social-btn ul li .google .fab
      {
      color:#dd4b39;
      }
      .infinity-social-btn ul li .twitter .fab
      {
      color:#3cf;
      }
      .infinity-social-btn ul li:hover:nth-child(1)
      {
      background-color:#3b5999;
      }
      .infinity-social-btn ul li:hover:nth-child(2)
      {
      background-color:#dd4b39;
      }
      .infinity-social-btn ul li:hover:nth-child(3)
      {
      background-color:#55acee;
      }
      .infinity-social-btn ul li .fab
      {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      font-size:24px;
      color:#2196f3;
      transition:.5s;
      }
      .infinity-social-btn ul li .fab:nth-child(1)
      {
      left:-50%;
      opacity:0;
      }
      .infinity-social-btn ul li:hover .fab:nth-child(1)
      {	
      left:50%;
      opacity:1;
      color:#fff;
      }
      .infinity-social-btn ul li:hover .fab:nth-child(2)
      {
      left:150%;
      opacity:0;
      }
  </style>
<body>
    <div class="container-fluid bg-light justify-content-center py-5">
        <div class="row py-1">
          <% if(message.length > 0) { %>
            <div id='alert' class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong><%= message %></strong>
              <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
          <div class="col-md-4 mx-auto py-5">
            <div class="position-relative d-xl-flex flex-column p-2 m-0" style="border: 1px solid rgba(0,0,0,.2); border-radius: 1.1rem; min-width: 300px; background-color: #fff">
              <div class="logo mb-3">
                <div class="col-md-12 text-center">
                  <h2 style="font-family:Lobster; font-size: 50px;">Login</h2>
                </div>
              </div>
              <form method= "POST" action="/auth/sign-in" class = "form-box">
                <div class="form-floating mb-3 form-group">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username"  required>
                  <label for="floatingInput">
                    <span>
                      <i class="fa fa-user"></i>
                    </span> Username
                  </label>
                </div>
                <div class="form-floating form-group">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                  <label for="floatingPassword"><span><i class="fa fa-lock"></i></span> Password</label>
                </div>
                <div class="row mb-2 form-group" style="margin-top: .5rem;">
                    <!--Remember Checkbox -->
                    <div class="col-6 d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="remember"id="cb1">
                        <label class="custom-control-label text-start" for="cb1">Remember me</label>
                      </div>
                    </div>
                    <!-- Forget Password -->
                    <div class="col-6 text-end text-sm">
                      <a href="/auth/forgot-password" class="forget-link">Forgot password? </a>
                    </div>
                  </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-block rounded-pill btn-primary">signin</button>
                </div>
              </form>
                <div class="col-md-12 ">
                  <div class="login-or">
                    <hr class="hr-or">
                      <span class="span-or">or</span>
                  </div>
                </div>
                <div class="infinity-social-btn text-center">
                    <ul class="text-center">
                      <li class="text-center"><a href="/auth/facebook" class="facebook">
                        <i class="fab fa-facebook-f"></i><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="text-center"><a href="/auth/google" class="google">
                          <i class="fab fa-google"></i><i class="fab fa-google"></i></a>
                      </li>
                      <li class="text-center"><a href="/auth/twitter" class="twitter">
                          <i class="fab fa-twitter"></i><i class="fab fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                <div class="text-center">Don't have an account?
                  <a class="register-link" href="/auth/sign-up">Register here</a>
                </div>
            </div> 
          </div>
        </div>
    </div>
    <div class="footer">
      <%- include('../layouts/footer') -%>
    </div>
    <%- include('../layouts/scripts')  -%>
    <script>
      $(document).ready(function() {
        $("#btn-alert").click(function(){
          $('#alert').hide();
        });
      });
    </script>
</body>
</html>